<div class="card display">
  <!-- <h3>{{ data.nama }}</h3> -->
  <div>
    <div *ngIf="data.id == 'Nastar'">
      <img src="../../../assets/kue/Nastar.jpeg" class="foto" />
    </div>
    <div *ngIf="data.id == 'Putri_Salju'">
      <img src="../../../assets/kue/Putri Salju.jpeg" class="foto" />
    </div>
    <div *ngIf="data.id == 'Stik_Coklat'">
      <img src="../../../assets/kue/Stik Coklat.jpeg" class="foto" />
    </div>
    <div *ngIf="data.id == 'Choco_Chip'">
      <img src="../../../assets/kue/Choco Chip.jpeg" class="foto" />
    </div>
    <div *ngIf="data.id == 'Coklat_Mede'">
      <img src="../../../assets/kue/Coklat Mede.jpeg" class="foto" />
    </div>
    <div *ngIf="data.id == 'Kaastengels'">
      <img src="../../../assets/kue/Kaastengels.jpeg" class="foto" />
    </div>
    <div *ngIf="data.id == 'Kurma_Coklat'">
      <img src="../../../assets/kue/Kurma Coklat.jpeg" class="foto" />
    </div>
    <div *ngIf="data.id == 'Milk_Cookies'">
      <img src="../../../assets/kue/Milk Cookies.jpeg" class="foto" />
    </div>

    <h2>{{ data.nama }}</h2>
  </div>
</div>
