<div class="bg display">
  <div class="container">
    <h1 class="display">Login</h1>
    <div class="display">
      <mat-icon style="font-size: 50px; position: fixed"
        >account_circle</mat-icon
      >
    </div>

    <form class="Form" [formGroup]="LoginForm">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="Placeholder"
          formControlName="identifier"
        />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-error *ngIf="identifier.invalid">{{
          getErrorMessage()
        }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
    </form>
    <div class="display">
      <button mat-raised-button class="button" (click)="Login()">Login</button>
    </div>
  </div>
</div>
