<div class="bg display">
  <div class="container">
    <h1 class="display">Login</h1>
    <div class="display">
      <mat-icon style="font-size: 50px; position: fixed"
        >account_circle</mat-icon
      >
    </div>

    <form class="Form">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Placeholder" />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Placeholder" />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
    </form>
    <div class="display">
      <button mat-raised-button class="button" (click)="Login()">Login</button>
    </div>
  </div>
</div>
