<div class="bg display2">
  <div class="container">
    <h2>Prediksi</h2>

    <div>
      <mat-form-field appearance="fill" style="margin-right: 50px; width: 80%">
        <mat-label>Jenis Kue</mat-label>
        <select matNativeControl required>
          <option value="all">Semua</option>
          <option value="Nastar">Nastar</option>
          <option value="Kaastengels">Kaastengels</option>
          <option value="Putri_Salju">Putri Salju</option>
          <option value="Stik_Coklat">Stik Coklat</option>
          <option value="Coklat_Mede">Coklat Mede</option>
          <option value="Choco_Chip">Choco Chip</option>
          <option value="Kurma_Coklat">Kurma Coklat</option>
          <option value="Milk_Cookies">Milk Cookies</option>
        </select>
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="Prediksi()">
        Prediksi
      </button>
    </div>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="No">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>
    <ng-container matColumnDef="Tahun">
      <th mat-header-cell *matHeaderCellDef>Tahun</th>
      <td mat-cell *matCellDef="let element">{{ element.Tahun }}</td>
    </ng-container>
    <ng-container matColumnDef="Kue">
      <th mat-header-cell *matHeaderCellDef>Kue</th>
      <td mat-cell *matCellDef="let element">{{ element.Kue }}</td>
    </ng-container>

    <ng-container matColumnDef="kuantitas">
      <th mat-header-cell *matHeaderCellDef>Kuantitas</th>
      <td mat-cell *matCellDef="let element">{{ element.kuantitas }}</td>
    </ng-container>

    <ng-container matColumnDef="harga">
      <th mat-header-cell *matHeaderCellDef>Harga</th>
      <td mat-cell *matCellDef="let element">{{ element.harga }}</td>
    </ng-container>
    <ng-container matColumnDef="totalharga">
      <th mat-header-cell *matHeaderCellDef>Total Harga</th>
      <td mat-cell *matCellDef="let element">{{ element.totalHarga }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
