<h2 mat-dialog-title>{{ title }} Penjualan</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="AddForm" *ngIf="title == 'Add'">
    <mat-form-field appearance="fill" style="margin-right: 50px; width: 70%">
      <mat-label>Produk</mat-label>
      <mat-select formControlName="Produk">
        <mat-option *ngFor="let food of DataProduk" [value]="food.produk">
          {{ food.produk }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" style="margin-right: 50px">
      <mat-label>Tahun</mat-label>
      <select matNativeControl required formControlName="Tahun">
        <option value="2017">2017</option>
        <option value="2018">2018</option>
        <option value="2019">2019</option>
        <option value="2020">2020</option>
        <option value="2021">2021</option>
        <option value="2022">2022</option>
        <option value="2023">2023</option>
        <option value="2024">2024</option>
      </select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Kuantitas</mat-label>
      <input matInput placeholder="Placeholder" formControlName="Kuantitas" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Harga</mat-label>
      <input matInput placeholder="Placeholder" formControlName="Harga" />
    </mat-form-field>
  </form>
  <form [formGroup]="EditForm" *ngIf="title == 'Edit'">
    <mat-form-field appearance="fill" style="margin-right: 50px">
      <mat-label>Tahun</mat-label>
      <select matNativeControl required formControlName="Tahun">
        <option value="2017">2017</option>
        <option value="2018">2018</option>
        <option value="2019">2019</option>
        <option value="2020">2020</option>
        <option value="2021">2021</option>
        <option value="2022">2022</option>
        <option value="2023">2023</option>
        <option value="2024">2024</option>
      </select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Kuantitas</mat-label>
      <input matInput placeholder="Placeholder" formControlName="Kuantitas" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Harga</mat-label>
      <input matInput placeholder="Placeholder" formControlName="Harga" />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close (click)="closeDialog()">Cancel</button>
  <button
    mat-button
    [mat-dialog-close]="true"
    cdkFocusInitial
    (click)="OnSimpan()"
    *ngIf="TombolSimpan"
  >
    Simpan
  </button>
</mat-dialog-actions>
